body {
    background-image: url(/images/background-chef.png);
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
}
.contents {
    background: white;
    border-style: solid;
    border-color: darkred;
    padding-right: 30px;
    padding-left: 0;
    margin: auto;
    max-width: fit-content;
}
.home-link {
        margin: auto;
        max-width: fit-content;
}
ul {
  text-align: center;
  list-style-type: none;
    font-size: large;
    text-align: left;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: darkred;
}